---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";

import post05 from "@/images/post-05.png";
---

<MainLayout title="Images">
  <h1 class="text-5xl text-white">Images</h1>
  <!-- <img loading="lazy" src="/assets/images/post-05.png" alt="" width="250" height="250" /> -->
  <Image
    loading="lazy"
    src={post05}
    alt=""
    width="250"
    height="250"
    quality="high"
  />

  <div style={{ height: "3000px" }}>sdasd</div>
  <img loading="lazy" src="/assets/images/post-01.png" alt="" />
</MainLayout>
